
{% load staticfiles %}

<html>
    <head>
        <title>Sharit</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    </head>
    <body>
        <a href="{% url 'post_list' %}"><h1>Sharit</h1></a>
        <h3>A video sharing app</h3>
        <nav>
            <a class="sh_btn" href="/comments">Comments</a>
            <a href="/">Posts</a>
            {% if user.is_authenticated %}
              <a href="{% url 'logout_user' %}"> Logout</a>
              <p>Welcome, {{user.username}}!</p>

            {% else %}
              <a href="{% url 'signup' %}"> Sign Up </a>
              <a href="{% url 'login' %}"> Log In </a>
            {% endif %}
        </nav>
        <hr />
        {% block content %}
        {% endblock %}
    </body>
    <hr />
    <footer>Sharit &copy 2018, all rights reserved</footer>
</html>
