
{% extends 'sharit/base.html' %}

{% block content %}
<h2>Posts <a href="">(+)</a></h2>
<ul>
    {% for post in posts %}
        <hr />
        <li class="bold">
          <a href="{% url 'post_detail' pk=post.pk %}">
            {{ post.title }}
          </a>
        </li>
        <li>
          <a href="">
            {{ post.link }}
          </a>
        </li>
        <li>
          Topic: <a href="">{{ post.topic }}</a>
        </li>
        <li>
          <small>{{ post.created_post }}</small>
        </li>
    {% endfor %}
</ul>
{% endblock %}
