
body {
    font-family: 'Helvetica Neue', sans-serif;
    max-width: 50em;
    margin: auto;
    padding: 2em 1em;
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

.bold {
    font-size: 1.2em;
    font-weight: 600;
}

nav a {
    padding: 1em;
    border: 2px solid pink;
    border-radius: .5em;
}

nav a:hover {
    background-color: orange;
    color: blue;
}
